In [15]:
import social_interaction
import code_interaction
import buggy_commit
import pandas as pd
repo_url = 'git://github.com/rspec/rspec-rails.git'
repo_name = 'rspec-rails'

In [2]:
sg = social_interaction.create_social_inteaction_graph(repo_name)
cg = code_interaction.create_code_interaction_graph(repo_url,repo_name)

2600

In [11]:
bugs_data = buggy_commit.buggy_commit_maker(repo_name,repo_url,repo_name)
bugs_data.get_buggy_commits()
buggy_commit_data = bugs_data.get_buggy_committer()

In [12]:
sg_data = sg.get_user_node_degree()
cg_data = cg.get_user_node_degree()
commit_data = bugs_data.get_commit_count()

In [21]:
sg_data_list = []
for key, value in sg_data.items():
    temp = [key,value]
    sg_data_list.append(temp)
cg_data_list = []
for key, value in cg_data.items():
    temp = [key,value]
    cg_data_list.append(temp)

In [22]:
buggy_commit_data_df = pd.DataFrame(buggy_commit_data, columns = ['committer', 'count'])
commit_data_df = pd.DataFrame(commit_data, columns = ['committer', 'count'])
sg_data_df = pd.DataFrame(sg_data_list, columns = ['committer', 'count'])
cg_data_df = pd.DataFrame(cg_data_list, columns = ['committer', 'count'])

In [36]:
df = []
for i in range(cg_data_df.shape[0]):
    buggy_commit_count = buggy_commit_data_df[buggy_commit_data_df['committer'] == cg_data_df.loc[i,'committer']]['count']
    if len(buggy_commit_count) == 0:
        continue
    commit_count = commit_data_df[commit_data_df['committer'] == cg_data_df.loc[i,'committer']]['count']
    if len(commit_count) == 0:
        continue
    node_degree = cg_data_df[cg_data_df['committer'] == cg_data_df.loc[i,'committer']]['count']
    df.append([buggy_commit_count.values[0]/commit_count.values[0],node_degree.values[0]])

In [37]:
df = pd.DataFrame(df, columns = ['per','degree'])

         per  degree
0   1.000000       4
1   0.372414     124
2   1.000000       7
3   1.000000       4
4   1.000000       8
5   0.250000      12
6   0.500000      22
7   1.500000       8
8   1.000000       4
9   1.000000       2
10  0.358491     151
11  1.000000       5
12  1.000000       4
13  1.000000       4
14  1.000000       4
15  0.555556      18
16  0.166667       9
17  0.800000      14
18  0.192308      30
19  1.000000       5
20  1.500000      13
21  1.000000       6
22  0.333333      10
23  1.000000       3
24  0.500000       7
25  1.000000       4
26  0.364097     193
27  0.428571      16
28  1.000000       5
29  0.600000       8
..       ...     ...
61  1.000000       3
62  1.000000       9
63  1.000000       3
64  1.000000       3
65  1.000000       4
66  1.000000       6
67  1.000000       5
68  1.000000       6
69  1.000000       3
70  0.666667       7
71  1.000000       5
72  0.260000      66
73  1.000000       4
74  0.500000       6
75  1.000000       7
76  0.500000       9
77  1.000000      10
78  0.250000      10
79  3.000000       9
80  0.400000      12
81  1.000000       6
82  1.000000      21
83  0.647059      46
84  0.388889      21
85  1.000000       6
86  1.000000       8
87  1.000000       3
88  1.000000       4
89  4.000000      32
90  0.500000       3

[91 rows x 2 columns]