In [1]:
import social_interaction
import code_interaction
import buggy_commit
import pandas as pd
import numpy as np
repo_url = 'git://github.com/apache/couchdb.git'
repo_name = 'couchdb'

In [2]:
sg = social_interaction.create_social_inteaction_graph(repo_name)
cg = code_interaction.create_code_interaction_graph(repo_url,repo_name)

/Users/suvodeepmajumder/Documents/AI4SE/Git_miner/social_interaction.py:37: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  self.comm_details_df = pd.concat([self.comments_details_df,self.issue_details_df])

In [3]:
bugs_data = buggy_commit.buggy_commit_maker(repo_name,repo_url,repo_name)
bugs_data.get_buggy_commits()
buggy_commit_data = bugs_data.get_buggy_committer()

In [10]:
sg_data = sg.get_user_node_degree()

In [11]:
cg_data = cg.get_user_node_degree()

starting graph
20
Starting Thread group: 0
done graph
getting degree
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
Done everything

In [12]:
commit_data = bugs_data.get_commit_count()

In [13]:
sg_data_list = []
for key, value in sg_data.items():
    temp = [key,value]
    sg_data_list.append(temp)
cg_data_list = []
for key, value in cg_data.items():
    temp = [key,value]
    cg_data_list.append(temp)

In [14]:
buggy_commit_data_df = pd.DataFrame(buggy_commit_data, columns = ['committer', 'count'])
commit_data_df = pd.DataFrame(commit_data, columns = ['committer', 'count'])
sg_data_df = pd.DataFrame(sg_data_list, columns = ['committer', 'count'])
cg_data_df = pd.DataFrame(cg_data_list, columns = ['committer', 'count'])

In [15]:
committer_count = []
for i in range(bugs_data.commit.shape[0]):
    commit_id = bugs_data.commit.loc[i,'commit_number']
    user = bugs_data.repo.get(commit_id).committer
    committer_count.append([user.name, commit_id, 1])
committer_count_df = pd.DataFrame(committer_count, columns = ['committer', 'commit_id', 'ob'])
committer_count_df = committer_count_df.drop_duplicates()
df = committer_count_df.groupby( ['committer']).count()
commit_count = []
for key,value in df.iterrows():
    user = key
    count = value.values.tolist()[0]
    commit_count.append([user,count])

In [16]:
df = []
for i in range(cg_data_df.shape[0]):
    print("+++++++++++")
    buggy_commit_count = buggy_commit_data_df[buggy_commit_data_df['committer'] == cg_data_df.loc[i,'committer']]['count']
    print(buggy_commit_count)
    if len(buggy_commit_count) == 0:
        continue
    commit_count = commit_data_df[commit_data_df['committer'] == cg_data_df.loc[i,'committer']]['count']
    print(commit_count)
    if len(commit_count) == 0:
        continue
    node_degree = cg_data_df[cg_data_df['committer'] == cg_data_df.loc[i,'committer']]['count']
    df.append([buggy_commit_count.values[0]/commit_count.values[0],node_degree.values[0]])

+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
0    533
Name: count, dtype: int64
0    1217
Name: count, dtype: int64
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
1    1
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
2    274
Name: count, dtype: int64
3    755
Name: count, dtype: int64
+++++++++++
3    1
Name: count, dtype: int64
4    2
Name: count, dtype: int64
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
4    5
Name: count, dtype: int64
6    24
Name: count, dtype: int64
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
5    1
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
6    2
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
7    15
Name: count, dtype: int64
10    12
Name: count, dtype: int64
+++++++++++
8    27
Name: count, dtype: int64
11    81
Name: count, dtype: int64
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
9    4
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
+++++++++++
10    69
Name: count, dtype: int64
13    113
Name: count, dtype: int64
+++++++++++
11    12
Name: count, dtype: int64
14    11
Name: count, dtype: int64
+++++++++++
12    40
Name: count, dtype: int64
15    64
Name: count, dtype: int64
+++++++++++
13    3
Name: count, dtype: int64
16    15
Name: count, dtype: int64
+++++++++++
14    27
Name: count, dtype: int64
17    75
Name: count, dtype: int64
+++++++++++
15    1
Name: count, dtype: int64
18    1
Name: count, dtype: int64
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
16    8
Name: count, dtype: int64
20    1
Name: count, dtype: int64
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
17    3
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
18    2
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
+++++++++++
19    134
Name: count, dtype: int64
21    201
Name: count, dtype: int64
+++++++++++
20    1
Name: count, dtype: int64
22    1
Name: count, dtype: int64
+++++++++++
21    219
Name: count, dtype: int64
23    299
Name: count, dtype: int64
+++++++++++
22    1
Name: count, dtype: int64
24    2
Name: count, dtype: int64
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
23    26
Name: count, dtype: int64
25    118
Name: count, dtype: int64
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
24    9
Name: count, dtype: int64
26    147
Name: count, dtype: int64
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
25    38
Name: count, dtype: int64
27    152
Name: count, dtype: int64
+++++++++++
26    1
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
27    318
Name: count, dtype: int64
29    712
Name: count, dtype: int64
+++++++++++
28    7
Name: count, dtype: int64
30    23
Name: count, dtype: int64
+++++++++++
29    1
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
+++++++++++
30    4
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
+++++++++++
31    140
Name: count, dtype: int64
31    242
Name: count, dtype: int64
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
32    199
Name: count, dtype: int64
35    585
Name: count, dtype: int64
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
33    1
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
+++++++++++
34    538
Name: count, dtype: int64
36    1358
Name: count, dtype: int64
+++++++++++
35    15
Name: count, dtype: int64
37    35
Name: count, dtype: int64
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
36    1
Name: count, dtype: int64
39    7
Name: count, dtype: int64
+++++++++++
37    2
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
+++++++++++
38    13
Name: count, dtype: int64
40    38
Name: count, dtype: int64
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
39    55
Name: count, dtype: int64
42    372
Name: count, dtype: int64
+++++++++++
40    1
Name: count, dtype: int64
43    3
Name: count, dtype: int64
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
41    1
Name: count, dtype: int64
45    3
Name: count, dtype: int64
+++++++++++
42    351
Name: count, dtype: int64
46    538
Name: count, dtype: int64
+++++++++++
43    1
Name: count, dtype: int64
47    1
Name: count, dtype: int64
+++++++++++
44    1
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
46    1
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
+++++++++++
47    33
Name: count, dtype: int64
50    54
Name: count, dtype: int64
+++++++++++
48    1
Name: count, dtype: int64
51    3
Name: count, dtype: int64
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
49    1
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
50    8
Name: count, dtype: int64
55    15
Name: count, dtype: int64
+++++++++++
51    1
Name: count, dtype: int64
56    2
Name: count, dtype: int64
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
52    8
Name: count, dtype: int64
58    8
Name: count, dtype: int64
+++++++++++
53    1
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
+++++++++++
54    2
Name: count, dtype: int64
59    6
Name: count, dtype: int64
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
55    2
Name: count, dtype: int64
61    1
Name: count, dtype: int64
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
56    1
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
+++++++++++
57    13
Name: count, dtype: int64
65    40
Name: count, dtype: int64
+++++++++++
58    83
Name: count, dtype: int64
66    255
Name: count, dtype: int64
+++++++++++
59    4
Name: count, dtype: int64
67    9
Name: count, dtype: int64
+++++++++++
60    149
Name: count, dtype: int64
68    373
Name: count, dtype: int64
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
61    309
Name: count, dtype: int64
69    927
Name: count, dtype: int64
+++++++++++
62    232
Name: count, dtype: int64
70    397
Name: count, dtype: int64
+++++++++++
63    1
Name: count, dtype: int64
71    1
Name: count, dtype: int64
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
64    55
Name: count, dtype: int64
73    154
Name: count, dtype: int64
+++++++++++
65    36
Name: count, dtype: int64
74    24
Name: count, dtype: int64
+++++++++++
66    35
Name: count, dtype: int64
75    114
Name: count, dtype: int64
+++++++++++
67    441
Name: count, dtype: int64
76    1627
Name: count, dtype: int64
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
68    2
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
+++++++++++
69    100
Name: count, dtype: int64
77    280
Name: count, dtype: int64
+++++++++++
70    1
Name: count, dtype: int64
78    11
Name: count, dtype: int64
+++++++++++
71    1
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
+++++++++++
72    1
Name: count, dtype: int64
79    1
Name: count, dtype: int64
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
73    50
Name: count, dtype: int64
81    88
Name: count, dtype: int64
+++++++++++
74    1
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
75    2
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
76    40
Name: count, dtype: int64
83    78
Name: count, dtype: int64
+++++++++++
77    1
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
+++++++++++
78    5
Name: count, dtype: int64
84    4
Name: count, dtype: int64
+++++++++++
80    5
Name: count, dtype: int64
85    18
Name: count, dtype: int64
+++++++++++
81    30
Name: count, dtype: int64
86    12
Name: count, dtype: int64
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
82    65
Name: count, dtype: int64
87    154
Name: count, dtype: int64
+++++++++++
83    3
Name: count, dtype: int64
88    6
Name: count, dtype: int64
+++++++++++
84    3
Name: count, dtype: int64
89    6
Name: count, dtype: int64

+++++++++++
85    2
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
+++++++++++
86    12
Name: count, dtype: int64
90    9
Name: count, dtype: int64
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
87    13
Name: count, dtype: int64
92    86
Name: count, dtype: int64
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
88    1
Name: count, dtype: int64
94    1
Name: count, dtype: int64
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
89    3
Name: count, dtype: int64
96    10
Name: count, dtype: int64
+++++++++++
90    1
Name: count, dtype: int64
97    2
Name: count, dtype: int64
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
91    1
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
+++++++++++
92    3
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
+++++++++++
93    1
Name: count, dtype: int64
98    9
Name: count, dtype: int64
+++++++++++
94    73
Name: count, dtype: int64
99    183
Name: count, dtype: int64
+++++++++++
Series([], Name: count, dtype: int64)
+++++++++++
Series([], Name: count, dtype: int64)

In [17]:
df = pd.DataFrame(df, columns = ['per','degree'])

In [18]:
degree_d = np.array(df['degree'].values.tolist())

In [19]:
first = np.int32(np.percentile(degree_d,99.9))
second = np.int32(np.percentile(degree_d,99))
third = np.int32(np.percentile(degree_d,80))
forth = np.int32(np.percentile(degree_d,50))

In [20]:
first_l = []
second_l = []
third_l = []
forth_l = []
for i in range(df.shape[0]):
    if df.loc[i,'degree'] < forth:
        forth_l.append(df.loc[i,'per'])
        print("Inside forth",df.loc[i,'degree'],forth)
    elif df.loc[i,'degree'] < third:
        third_l.append(df.loc[i,'per'])
        print("Inside third",df.loc[i,'degree'],third)
    elif df.loc[i,'degree'] < second:
        second_l.append(df.loc[i,'per'])
        print("Inside second",df.loc[i,'degree'],second)
    else:
        first_l.append(df.loc[i,'per'])
        print("Inside first",df.loc[i,'degree'],first)

Inside second 55 85
Inside second 81 85
Inside forth 5 21
Inside forth 20 21
Inside forth 17 21
Inside third 33 46
Inside third 32 46
Inside forth 19 21
Inside third 36 46
Inside forth 10 21
Inside third 27 46
Inside forth 4 21
Inside forth 16 21
Inside third 43 46
Inside forth 7 21
Inside second 51 85
Inside forth 9 21
Inside second 50 85
Inside third 34 46
Inside second 46 85
Inside third 42 46
Inside forth 18 21
Inside third 39 46
Inside second 56 85
Inside first 88 87
Inside forth 20 21
Inside forth 13 21
Inside third 28 46
Inside second 79 85
Inside forth 4 21
Inside forth 8 21
Inside second 52 85
Inside forth 6 21
Inside third 35 46
Inside forth 3 21
Inside forth 18 21
Inside forth 4 21
Inside third 21 46
Inside forth 9 21
Inside forth 6 21
Inside third 35 46
Inside third 44 46
Inside forth 19 21
Inside second 60 85
Inside second 57 85
Inside second 49 85
Inside forth 1 21
Inside third 37 46
Inside third 22 46
Inside second 48 85
Inside second 84 85
Inside second 49 85
Inside forth 9 21
Inside forth 3 21
Inside forth 16 21
Inside third 33 46
Inside forth 18 21
Inside forth 20 21
Inside third 21 46
Inside second 46 85
Inside forth 10 21
Inside forth 15 21
Inside forth 20 21
Inside third 32 46
Inside forth 10 21
Inside forth 11 21
Inside forth 4 21
Inside forth 15 21
Inside third 25 46

In [22]:
print(round(np.median(first_l),2),round(np.median(second_l),2),round(np.median(third_l),2),round(np.median(forth_l),2))

0.4 0.36 0.45 0.5

In [16]:
np.max(degree_d)

86

In [20]:
print(len(forth_l))

32

In [ ]:
b<a

In [ ]:
0.42 0.41 0.59 0.98
0.44 0.87 0.97 0.95
0.53 0.56 nan 0.94
0.41 0.55 0.76 0.91

In [6]:
len(cg.commits)

12442

In [ ]:
bugs_data.commit

In [4]:
cg_data

{'Adam Kocolosk': 1,
 'Adam Kocoloski': 56,
 'Adam Lofts': 3,
 'Adriano Melo': 2,
 'Adrien Vergé': 5,
 'Alex Anderson': 3,
 'Alexander Dorofeev': 2,
 'Alexander Shorin': 88,
 'AlexanderKaraberov': 5,
 'AlmightyJu': 6,
 'Andrey Somov': 1,
 'Andy Wenk': 21,
 'Anthony S Baker': 3,
 'Artur Mazurek': 6,
 'Bastian Krol': 3,
 'Ben Keen': 4,
 'Ben Reser': 1,
 'Ben Russell': 1,
 'Benjamin Anderson': 25,
 'Benjamin Bastian': 37,
 'Benjamin Keen': 13,
 'Benjamin Nortier': 2,
 'Benoit Chesneau': 34,
 'BigBlueHat': 25,
 'Bob Dionne': 37,
 'Bob Ippolito': 9,
 'Brad Anderson': 31,
 'Breno Leitao': 4,
 'Brian Brown': 1,
 'Brian Mitchell': 18,
 'Bryan Green': 1,
 'Caleb Case': 7,
 'Chris Snow': 4,
 'Christian Hogan': 6,
 'Christopher Lenz': 42,
 'Dale Harvey': 10,
 'Damien F. Katz': 51,
 'Damjan Georgievski': 8,
 'Daniel Münch': 1,
 'Dave Cottlehuber': 51,
 'Diana Thayer': 2,
 'Dirkjan Ochtman': 45,
 'Dustin Sallings': 1,
 'Egon Kastelijn': 1,
 'Eric Avdey': 49,
 'Eugene Pirogov': 3,
 'Ewan McDougall': 3,
 'Fabian Ising': 1,
 'Fedor Indutny': 2,
 'Filipe David Borba Manana': 44,
 'Filipe David Manana': 22,
 'Filippo Fadda': 3,
 'Frederick Kaempfer': 6,
 'Garren Smith': 42,
 'Geoff Cox': 4,
 'GitHub': 82,
 'Guillaume Belrose': 1,
 'H. Diedrich': 4,
 'ILYA Khlopotov': 60,
 'Iuri Diniz': 2,
 'Jakub': 5,
 'Jan Lehnardt': 94,
 'Jason David Davies': 21,
 'Jason Smith (air)': 13,
 'Jason Smith (work)': 14,
 'Javier Candeira': 9,
 'Jay Doane': 28,
 'Jens Rantil': 2,
 'Joan Touzet': 86,
 'Joe': 4,
 'Joel Reed': 2,
 'Johannes J. Schmidt': 9,
 'John Christopher Anderson': 52,
 'John Samuel': 6,
 'Juanjo': 4,
 'Juanjo Rodriguez': 1,
 'Julian': 1,
 'Julian Duque': 3,
 'Keks Keksov': 5,
 'Klaus Trainer': 39,
 'Kyle Snavely': 8,
 'Levi McAuley': 8,
 'Lucas Satabin': 4,
 'Luis Gerhorst': 1,
 'Magnus Hoff': 1,
 'Maria Andersson': 8,
 'Mariano Guerra': 4,
 'Mark Hammond': 20,
 'Martin Higham': 5,
 'Matt': 2,
 'Mayya Sharipova': 28,
 'Micah Anderson': 1,
 'Michael Hall': 10,
 'Michael Jackson': 3,
 'Michael Rhodes': 9,
 'Michael Wallace': 5,
 'Michelle Phung': 14,
 'Mike Fair': 4,
 'Mike McKay': 1,
 'Mike Wallace': 40,
 'Nick Vatamaniuc': 49,
 'NickNorth': 22,
 'Noah Slater': 61,
 'Paul J. Davis': 66,
 'Paul Joseph Davis': 51,
 'Paul Mietz Egli': 1,
 'Peng Hui Jiang': 2,
 'Peter Dave Hello': 2,
 'Peter Lemenkov': 6,
 'Randall Leeds': 37,
 'Robert Dionne': 24,
 'Robert Kowalski': 55,
 'Robert Newson': 88,
 'Robin Berjon': 1,
 'Ronny Pfannschmidt': 10,
 'Russell Branca': 55,
 'Ryan Ramage': 13,
 'Sam Bisbee': 2,
 'Sam Smith': 5,
 'Samuel Tardieu': 10,
 'Simon Metson': 19,
 'Stefan Kögl': 6,
 'Stefano J. Attardi': 3,
 'Sven Lito': 2,
 'Terin Stock': 4,
 'Tony': 1,
 'Tony Sun': 36,
 'Trond Norbye': 2,
 'Volker Mische': 18,
 'Wei Cao': 1,
 'Wendall Cada': 21,
 'Will Holley': 23,
 'William Cummings': 1,
 'benoitc': 50,
 'bitdiddle': 14,
 'brkolla': 19,
 'ermouth': 8,
 'garren smith': 22,
 'jiangph': 27,
 'jiangphcn': 36,
 'jjrodrig': 1,
 'joewilliams': 2,
 'katsel': 7,
 'kim yongbin': 1,
 'klaemo': 7,
 'lazedo': 1,
 'michellephung': 12,
 'nvdev': 5,
 'robfraz': 1,
 'rokek': 5,
 'sean barclay': 4,
 'sebastianro': 18,
 'suelockwood': 27,
 'wohali': 2,
 'Ólafur Arason': 7}

In [4]:
cg_data

{'Adam Kocoloski': 46,
 'Adam Lofts': 1,
 'Adrien Vergé': 2,
 'Alex Anderson': 3,
 'Alexander Dorofeev': 1,
 'Alexander Shorin': 62,
 'AlexanderKaraberov': 2,
 'AlmightyJu': 1,
 'Andy Wenk': 8,
 'Bastian Krol': 2,
 'Ben Keen': 4,
 'Ben Russell': 1,
 'Benjamin Anderson': 15,
 'Benjamin Bastian': 25,
 'Benjamin Keen': 6,
 'Benoit Chesneau': 24,
 'BigBlueHat': 12,
 'Bob Dionne': 24,
 'Bob Ippolito': 7,
 'Brad Anderson': 19,
 'Breno Leitao': 1,
 'Brian Brown': 1,
 'Brian Mitchell': 12,
 'Bryan Green': 1,
 'Caleb Case': 4,
 'Christopher Lenz': 33,
 'Dale Harvey': 2,
 'Damien F. Katz': 37,
 'Damjan Georgievski': 4,
 'Daniel Münch': 1,
 'Dave Cottlehuber': 31,
 'Dirkjan Ochtman': 24,
 'Eric Avdey': 32,
 'Fabian Ising': 1,
 'Filipe David Borba Manana': 35,
 'Filipe David Manana': 12,
 'Filippo Fadda': 2,
 'Frederick Kaempfer': 5,
 'Garren Smith': 30,
 'Geoff Cox': 3,
 'GitHub': 43,
 'Guillaume Belrose': 1,
 'H. Diedrich': 1,
 'ILYA Khlopotov': 41,
 'Jakub': 1,
 'Jan Lehnardt': 65,
 'Jason David Davies': 11,
 'Jason Smith (air)': 4,
 'Jason Smith (work)': 9,
 'Javier Candeira': 4,
 'Jay Doane': 17,
 'Jens Rantil': 1,
 'Joan Touzet': 57,
 'Joe': 4,
 'Joel Reed': 1,
 'Johannes J. Schmidt': 3,
 'John Christopher Anderson': 41,
 'John Samuel': 1,
 'Juanjo': 2,
 'Julian': 1,
 'Julian Duque': 2,
 'Klaus Trainer': 24,
 'Kyle Snavely': 6,
 'Levi McAuley': 1,
 'Maria Andersson': 2,
 'Mariano Guerra': 1,
 'Mark Hammond': 11,
 'Martin Higham': 1,
 'Matt': 1,
 'Mayya Sharipova': 15,
 'Michael Hall': 6,
 'Michael Jackson': 1,
 'Michael Rhodes': 5,
 'Michael Wallace': 2,
 'Michelle Phung': 4,
 'Mike Fair': 1,
 'Mike Wallace': 26,
 'Nick Vatamaniuc': 38,
 'NickNorth': 10,
 'Noah Slater': 41,
 'Paul J. Davis': 46,
 'Paul Joseph Davis': 39,
 'Paul Mietz Egli': 1,
 'Peter Lemenkov': 1,
 'Randall Leeds': 22,
 'Robert Dionne': 13,
 'Robert Kowalski': 37,
 'Robert Newson': 67,
 'Ronny Pfannschmidt': 3,
 'Russell Branca': 38,
 'Ryan Ramage': 6,
 'Sam Smith': 2,
 'Samuel Tardieu': 3,
 'Simon Metson': 15,
 'Stefan Kögl': 4,
 'Sven Lito': 1,
 'Terin Stock': 2,
 'Tony': 1,
 'Tony Sun': 24,
 'Trond Norbye': 1,
 'Volker Mische': 8,
 'Wendall Cada': 11,
 'Will Holley': 17,
 'benoitc': 35,
 'bitdiddle': 4,
 'brkolla': 9,
 'ermouth': 5,
 'garren smith': 14,
 'jiangph': 10,
 'jiangphcn': 24,
 'jjrodrig': 1,
 'joewilliams': 1,
 'katsel': 2,
 'kim yongbin': 1,
 'klaemo': 1,
 'michellephung': 2,
 'nvdev': 1,
 'rokek': 2,
 'sean barclay': 3,
 'sebastianro': 11,
 'suelockwood': 18,
 'wohali': 1,
 'Ólafur Arason': 1}

In [4]:
cg_data

{'Adam Kocolosk': 2,
 'Adam Kocoloski': 57,
 'Adam Lofts': 5,
 'Adriano Melo': 2,
 'Adrien Vergé': 2,
 'Alex Anderson': 4,
 'Alexander Dorofeev': 2,
 'Alexander Shorin': 84,
 'AlexanderKaraberov': 6,
 'AlmightyJu': 7,
 'Andrey Somov': 1,
 'Andy Wenk': 21,
 'Anthony S Baker': 4,
 'Artur Mazurek': 4,
 'Bastian Krol': 3,
 'Ben Keen': 4,
 'Ben Reser': 1,
 'Ben Russell': 1,
 'Benjamin Anderson': 22,
 'Benjamin Bastian': 38,
 'Benjamin Keen': 12,
 'Benjamin Nortier': 2,
 'Benoit Chesneau': 34,
 'BigBlueHat': 25,
 'Bob Dionne': 36,
 'Bob Ippolito': 8,
 'Brad Anderson': 30,
 'Brandon Gottlob': 1,
 'Breno Leitao': 4,
 'Brian Brown': 1,
 'Brian Mitchell': 17,
 'Bryan Green': 1,
 'Caleb Case': 6,
 'Chris Snow': 3,
 'Christian Hogan': 6,
 'Christopher Lenz': 43,
 'Dale Harvey': 9,
 'Damien F. Katz': 50,
 'Damjan Georgievski': 10,
 'Daniel Münch': 1,
 'Dave Cottlehuber': 53,
 'Diana Thayer': 2,
 'Dirkjan Ochtman': 47,
 'Edwin Fine': 1,
 'Egon Kastelijn': 1,
 'Eric Avdey': 49,
 'Eugene Pirogov': 3,
 'Ewan McDougall': 2,
 'Fabian Ising': 1,
 'Fedor Indutny': 4,
 'Filipe David Borba Manana': 44,
 'Filipe David Manana': 24,
 'Filippo Fadda': 2,
 'Frederick Kaempfer': 6,
 'Garren Smith': 43,
 'Geoff Cox': 2,
 'GitHub': 85,
 'Guillaume Belrose': 1,
 'H. Diedrich': 3,
 'ILYA Khlopotov': 61,
 'Iuri Diniz': 1,
 'Jakub': 5,
 'Jan Lehnardt': 90,
 'Jason David Davies': 20,
 'Jason Smith (air)': 13,
 'Jason Smith (work)': 16,
 'Javier Candeira': 10,
 'Jay Doane': 28,
 'Jens Rantil': 2,
 'Joan Touzet': 85,
 'Joe': 4,
 'Joel Reed': 1,
 'Johannes J. Schmidt': 9,
 'John Christopher Anderson': 52,
 'John Samuel': 6,
 'Juanjo': 4,
 'Julian': 1,
 'Julian Duque': 3,
 'Keith Gable': 1,
 'Keks Keksov': 6,
 'Klaus Trainer': 38,
 'Kyle Snavely': 11,
 'Levi McAuley': 8,
 'Lucas Satabin': 4,
 'Luis Gerhorst': 1,
 'Maria Andersson': 8,
 'Mariano Guerra': 5,
 'Mark Hammond': 19,
 'Martin Higham': 8,
 'Matt': 2,
 'Mayya Sharipova': 27,
 'Micah Anderson': 1,
 'Michael Hall': 10,
 'Michael Jackson': 3,
 'Michael Rhodes': 10,
 'Michael Wallace': 5,
 'Michael Wheeler': 1,
 'Michelle Phung': 14,
 'Mike Fair': 4,
 'Mike McKay': 1,
 'Mike Wallace': 38,
 'Nick Vatamaniuc': 51,
 'NickNorth': 23,
 'Noah Slater': 61,
 'Paul J. Davis': 67,
 'Paul Joseph Davis': 50,
 'Paul Mietz Egli': 1,
 'Peng Hui Jiang': 3,
 'Peter Dave Hello': 2,
 'Peter Lemenkov': 8,
 'Randall Leeds': 36,
 'Robert Dionne': 24,
 'Robert Kowalski': 51,
 'Robert Newson': 88,
 'Robin Berjon': 1,
 'Ronny Pfannschmidt': 9,
 'Russell Branca': 54,
 'Ryan Ramage': 11,
 'Sam Bisbee': 2,
 'Sam Smith': 5,
 'Samuel Tardieu': 7,
 'Serge A. Salamanka': 1,
 'Simon Metson': 19,
 'Stefan Kögl': 6,
 'Stefano J. Attardi': 4,
 'Sven Lito': 2,
 'Terin Stock': 4,
 'Tony Sun': 34,
 'Trond Norbye': 3,
 'Volker Mische': 20,
 'Wei Cao': 1,
 'Wendall Cada': 21,
 'Will Holley': 22,
 'William Cummings': 3,
 'benoitc': 49,
 'bitdiddle': 14,
 'brkolla': 20,
 'ermouth': 9,
 'garren smith': 21,
 'gesberger': 1,
 'jiangph': 25,
 'jiangphcn': 36,
 'jjrodrig': 2,
 'joewilliams': 2,
 'katsel': 5,
 'kim yongbin': 1,
 'klaemo': 7,
 'lazedo': 1,
 'michellephung': 11,
 'nvdev': 4,
 'robfraz': 1,
 'rokek': 3,
 'sean barclay': 2,
 'sebastianro': 17,
 'suelockwood': 28,
 'telis94': 1,
 'wohali': 2,
 'Ólafur Arason': 6}

In [18]:
buggy_commit_data_df['committer'] == cg_data_df.loc[0,'committer']

'Adam Kocolosk'

In [4]:
df_b = bugs_data.commit

In [5]:
df_b[df_b['isBuggy'] == 1].shape

(3081, 5)

In [6]:
df_b.shape

(12431, 5)

In [7]:
x_sum = 0
for x in buggy_commit_data:
    x_sum += x[1]

In [9]:
buggy_commit_data

[['Adam Kocoloski', 533],
 ['Alex Anderson', 1],
 ['Alexander Shorin', 274],
 ['AlexanderKaraberov', 1],
 ['Andy Wenk', 5],
 ['Artur Mazurek', 1],
 ['Ben Reser', 2],
 ['Benjamin Anderson', 15],
 ['Benjamin Bastian', 27],
 ['Benjamin Nortier', 4],
 ['Benoit Chesneau', 69],
 ['BigBlueHat', 12],
 ['Bob Dionne', 40],
 ['Bob Ippolito', 3],
 ['Brad Anderson', 27],
 ['Breno Leitao', 1],
 ['Brian Mitchell', 8],
 ['Caleb Case', 3],
 ['Christian Hogan', 2],
 ['Christopher Lenz', 134],
 ['Dale Harvey', 1],
 ['Damien F. Katz', 219],
 ['Damjan Georgievski', 1],
 ['Dave Cottlehuber', 26],
 ['Dirkjan Ochtman', 9],
 ['Eric Avdey', 38],
 ['Eugene Pirogov', 1],
 ['Filipe David Borba Manana', 318],
 ['Filipe David Manana', 7],
 ['Filippo Fadda', 1],
 ['Frederick Kaempfer', 4],
 ['Garren Smith', 140],
 ['ILYA Khlopotov', 199],
 ['Jakub', 1],
 ['Jan Lehnardt', 538],
 ['Jason David Davies', 15],
 ['Jason Smith (work)', 1],
 ['Javier Candeira', 2],
 ['Jay Doane', 13],
 ['Joan Touzet', 55],
 ['Joe', 1],
 ['Johannes J. Schmidt', 1],
 ['John Christopher Anderson', 351],
 ['John Samuel', 1],
 ['Juanjo', 1],
 ['Julian', 1],
 ['Keks Keksov', 1],
 ['Klaus Trainer', 33],
 ['Kyle Snavely', 1],
 ['Lucas Satabin', 1],
 ['Mark Hammond', 8],
 ['Martin Higham', 1],
 ['Mayya Sharipova', 8],
 ['Micah Anderson', 1],
 ['Michael Hall', 2],
 ['Michael Rhodes', 2],
 ['Mike McKay', 1],
 ['Mike Wallace', 13],
 ['Nick Vatamaniuc', 83],
 ['NickNorth', 4],
 ['Noah Slater', 149],
 ['Paul J. Davis', 309],
 ['Paul Joseph Davis', 232],
 ['Paul Mietz Egli', 1],
 ['Randall Leeds', 55],
 ['Robert Dionne', 36],
 ['Robert Kowalski', 35],
 ['Robert Newson', 441],
 ['Ronny Pfannschmidt', 2],
 ['Russell Branca', 100],
 ['Ryan Ramage', 1],
 ['Sam Bisbee', 1],
 ['Sam Smith', 1],
 ['Simon Metson', 50],
 ['Stefan Kögl', 1],
 ['Terin Stock', 2],
 ['Tony Sun', 40],
 ['Trond Norbye', 1],
 ['Volker Mische', 5],
 ['Wei Cao', 2],
 ['Wendall Cada', 5],
 ['Will Holley', 30],
 ['benoitc', 65],
 ['bitdiddle', 3],
 ['brkolla', 3],
 ['ermouth', 2],
 ['garren smith', 12],
 ['jiangphcn', 13],
 ['katsel', 1],
 ['michellephung', 3],
 ['nvdev', 1],
 ['rokek', 1],
 ['sean barclay', 3],
 ['sebastianro', 1],
 ['suelockwood', 73]]